body{
    overflow:hidden;
    margin:0;
    font-family:'Tangerine';
}
#renderCanvas{
    width:100%;
    height:100%;
}
#fps{
    color:white;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}
#menu{
    position:absolute; 
    left:0px; 
    top:0px; 
    width:100%; 
    height:100%; 
    background-color:black; 
    color:white; 
    text-align:center;
}
#menu h1{
    font-size:160px; 
    position:relative; 
    top:-50px;
}
#menu p{
    font-size:45px;
}
#menu a{
    text-decoration:underline;
    color:white;
}
.btn{
    background-color:black;
    color:white;
    font-size:30px; 
    border:solid;
    border-color:white;
    position:absolute;
    text-align:center;
    transition:0.9s;
    cursor:pointer;
}
.btn:hover{
    border-color:rgb(120, 147, 255);
    color:rgb(120, 147, 255);
}
.btn p{
    font-size:30px; 
    position:relative; 
    top:-20px;
}
#ply-btn{
    top:300px;
    left:37.5%;
    width:25%;
    height:50px;
}
#set-btn{
    top:400px;
    left:35%;
    width:12.5%;
    height:50px;
}
#crd-btn{
    top:400px;
    left:52.5%;
    width:12.5%;
    height:50px;
}
#con-btn{
    top:500px;
    left:35%;
    width:12.5%;
    height:50px;
}
#abt-btn{
    top:500px;
    left:52.5%;
    width:12.5%;
    height:50px;
}
#bck-btn{
    top:90%;
    left:43.75%;
    width:12.5%;
    height:50px;
    display:none;
}
#dipper98-link{
    text-decoration:underline;
}
